
.nav-item {
    margin: 0 15px;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-items {
    margin-right: 67px;
}

.nav-items :hover {
    color: #00A3FF;
    transition: ease-in-out 0.5ms;
}

.register {
   display: flex;
   align-items: center;
}

.btn {
   background-color: #00A3FF;
   color: white;
   width: 122px;
   height: 45px;
   border-radius: 15px;
   font-weight: bold;
}

@media (max-width: 1042px) {
    @media (max-width: 1120px) {
        .header{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }
        .icon {
            position: fixed;
            top: 0;
            right: 0;
            z-index: 99;
        }
        .nav {
            position: relative;
            right: 0;
            margin-top: 75px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .nav-items {
            text-decoration: none;
            margin-bottom: 20px;
            color: white;
        }
        .navbar {
            display: none;
        }
        .mobile-menu-icon {
            display: flex;
        }
        .mobile-menu-icon button {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
        .mobile-menu ul {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-bottom: 1rem;
        }
        .mobile-menu .nav-item {
            display: block;
            padding-top: 1.2rem;
        }
        .mobile-menu .login-button {
            display: block;
            padding: 1rem 2rem;
        }
        .mobile-menu .login-button button {
            width: 100%;
        }
        .open {
            display: flex;
            height: 100%;
            background: #00A3FF;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 280px;
            z-index: 0;
            flex-direction: column;
        }

        .link-nav {
            color: white;
        }
    }
}