.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
}

.text-container {
    max-width: 590px;
}

.title {
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 40px;
}

.blue {
    color: #00A3FF;
}

.description {
    font-size: 24px;
    max-width: 450px;
    margin-bottom: 40px;
}

.how-we-work {
    background-color: #F5F5F5;
    min-height: 1000px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.text-container-work {
    display: flex;
    flex-flow: column;
    text-align: center;
}

.title-work {
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 19px;
}

.description-work {
    font-size: 28px;
    font-weight: bold;
}

.image-container-work {
    display: flex;
    justify-content: space-around;
    margin: 68px 0 27px;
    border-radius: 50px;
}

.text {
    display: flex;
    flex-flow: column;
    text-align: center;
    max-width: 278px;
}

.text-work {
    font-size: 24px;
    font-weight: bold;
}

.information {
    font-size: 20px;
    font-weight: 200;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 50px;
}

.grid {
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

.header-card {
    background-color: #00A3FF;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 210px;
    align-items: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0;
    max-width: 28%;
}


.title-card {
    font-weight: bold;
    color: white;
    font-size: 24px;
}

.description-card {
    margin: 40px 20px 40px;
}

.footer {
    background-color: #F0F0F0;
    color: black;
    width: 100%;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content:center;
    height: 80px;
    text-align: center;
}

@media (max-width: 1042px) {
    .image-home {
        display: none;
    }
    .image-container-work {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .container-calendar {
        margin: 35px 0 35px;
    }

    .grid {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .card-container {
        margin-bottom: 20px;
        max-width: 90%;
    }
}